<%flash.each do |key, value|%>
<%if value!=nil && key=='danger'%>
<div class="alert alert-danger" role="alert"><%=value %></div>
<%end%>
<%end%>

<%= form_for :task, url: task_path(@task), method: :patch do |f| %>
<%=f.label :title %>
    <%=f.text_field :title, class:'form-control' %>
    <%=f.label :priority %>
    <%=f.select :priority, $completed, {},  {class:'form-select'} %>
    <%=f.label :completed %>
    <%=f.check_box :completed  %>
    <br>
    <%= f.submit "Update", class:"btn btn-primary"%>
<%end%>
