

<%if user_signed_in? %>
  <br>
  <%# <div class="alert alert-info" role="alert"><%= "hello #{current_user.name_or_email}" %>
  <br> 

  <%if flash!=nil %>
  <%flash.each do |key, value| %>
    <br>
    <%if key == 'danger' %>
    <div class="alert alert-danger" role="alert"><%=value %></div>
    <%elsif key == 'success'%>
    <div class="alert alert-success" role="alert"><%=value %></div>
    <% end %>
    <br>
  <%end %>
  <%end %>

  <div class="task__inner">

    <div class="all_task">

      <% @task.each do |task| %>
      <%if task.completed == true%>
      <div class="task__item">
      <div class="task__title"><%=task.title %></div>   
      <%= link_to content_tag( :div, 'edit', :class=>'btn btn-warning'), edit_task_path(task) %> 
      <%= link_to content_tag( :div, 'delete', :class=>'btn btn-danger'), task_path(task), method: :delete %> 
      </div>
      <%else%>
      <div class="task__item">
      <%if task.priority == 3%>
        <%='You must do this now'%><br>
        <%elsif task.priority == 2%>
        <%='You must do this next'%><br>
        <%elsif task.priority == 1%>
        <%='You must do this later'%><br>
      <%end%>
      <%=task.title %>  
      <%= link_to content_tag( :div, 'edit', :class=>'btn btn-warning'), edit_task_path(task) %> 
      <%= link_to content_tag( :div, 'delete', :class=>'btn btn-danger'), task_path(task), method: :delete %> 
      <%= link_to content_tag( :div, 'done', :class=>'btn btn-success'), complete_task_path(task), data: { method: :put } %> 
      </div>
      <%end%>
      
      <%end %>

    </div>


    <div class="add_new_task">
      <%=render 'tasks/new' %>
    </div>

  </div>

  <%end %>










<div class="modal__back">
  <div class="modal__signup">
      <span class="close__btn" aria-hidden="true">&times;</span>
    <%=render 'users/form' %>
  </div>
  <div class="modal__login">
    <span class="close__btn2" aria-hidden="true">&times;</span>
    <%=render 'sessions/form' %>
  </div>
</div>




